.view {
  width: 100%;
  overflow-x: auto;
}
.json-grid-container {
  font-size: 18px !important;
}
/* Top level table expanded by default */
.json-grid-container > .json-grid-element-container > table {
  display: block !important;
}
/* Hide top level collapse/expand option */
.json-grid-container > .json-grid-element-container > .expander {
  display: none !important;
}

.json-grid-container th,
.json-grid-container td.rowName {
  font-weight: 700;
  color: rgb(255, 255, 255) !important;
  background-color: #0d7ab8 !important;
}
.json-grid-container table {
  /* border: 1px solid rgb(137, 137, 143); */
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.table {
  color: #0d7ab8 !important;
  width: unset !important;
}

#DynamicGrid-0 {
  padding-top: 10px;
}

.json-grid-container span.string,
span.number,
span.value {
  color: #0d7ab8 !important;
}

/* Hides indexes */
th:empty {
  display: none;
}
td:nth-child(1).number {
  display: none;
}
